.list-group-item.active {
    background-color: inherit;
    border-left: 2px solid #206bc4!important;
}
.dropzone-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
}
.dropzone-box {
    flex: 1 1 33%;
    min-width: 300px;
    flex-grow: 1;
    flex-shrink: 0;
   /*background: red;
   */
}
.dropzone {
    min-height: 150px;
    border: 2px dashed #607d8b !important;
    padding: 20px 20px;
    border-radius: 0.8rem;
}
.preview-box {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    flex: 1 1 50%;
    min-width: 300px;
}
.template-wrapper {
    width: 100%;
}
.template {
    flex: 1 1 50%;
    min-width: 250px;
    display: flex;
    align-items: center;
    margin: 0.2rem;
    padding: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.template.dz-processing {
    background: rgb(224 247 250 / 40%);
}
.template.dz-processing.dz-success {
    background: rgb(200 230 201 / 70%);
}
.file-preview {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-preview img {
    max-width: 80px;
    height: auto;
    max-height: 80px;
}
.file-details {
    margin: 0 0.8rem;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.file-detail-info {
    font-size: 0.8rem;
    color: #546e7a;
    display: flex;
    justify-content: space-between;
}
.file-details .progress {
    height: 0.3rem !important;
    margin: 0.4rem 0;
}
.file-upload-info {
    font-size: 0.8rem;
    color: #546e7a;
    display: flex;
    justify-content: space-between;
}
.file-upload-info .file-upload-error {
    color: #e91e63;
}
.file-remove {
    background: #e91e63;
    height: 1.8rem;
    width: 1.8rem;
    min-width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.upload-total-detail {
    font-size: 0.8rem;
    color: #546e7a;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
}
